RewriteEngine On
RewriteBase /

# Empêche l'accès direct aux fichiers et dossiers du système
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php/$1 [L]